.titleDiv {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: solid;
    /* color: cyan; */
    /* background-color: black; */
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: large;
    margin-bottom: 8px;
}