/* Grid */
/* Style Defaults: 4x4 Grid */

table,
td {
}

table {
    border: 4px solid #333;
    border-style: inset;
    width: 100%;    
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.headerTitle {

}

.padRow {
    height: 256px;
}